.Add-Faculty {
    width: 100%;
    padding: 20px;
    background-color: white;

    .Container {
        width: 90%;
        padding: 20px;
        display: flex;
        margin: 0 auto;
        .Btn-section {
            display: flex;
            width: 100%;

            button {
                display: block;
                height: 40px;
                width: 100%;
                margin: 10px auto;
                font-size: 20px;
                font-weight: 600;
                border: 1px solid white;

                &:nth-child(1) {
                    background-color: #3EC70B;
                    color: white;

                    &:hover {
                        background-color: #2ba000;
                    }

                   
                }
                &:nth-child(2) {
                    background-color: rgb(255, 68, 0);
                    color: white;

                    &:hover {
                        background-color: rgb(255, 0, 0);
                    }
                }
            }


        }

        form {
            display: flex;
            flex-wrap: wrap;

            .about {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
            }

            .education {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
            .other-section{
                width: 100%;
                .other {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;
                }
            }

       

         

        }
    }


    .heading {
        font-size: 40px;
        font-weight: 600;
        margin: 20px;
        text-align: center;



    }
    h2{
        width: 100%;
        border-bottom: 2px solid rgba(113, 113, 113, 0.706);
        margin-bottom: 10px;
    }

    h4 {
        margin: 10px 0;
        color: rgb(0, 157, 255);
    }



    label {
        display: block;
        font-size: 18px;
        font-weight: 600;
    }


    input {
        height: 40px;
        width: 300px;
        padding: 10px;
        margin: 10px 0;
        outline-color: aqua;

    }

    input {
        &::-webkit-file-upload-button {
            background-color: #FF0303;
            color: white;
            border: 1px solid white;
            height: 35px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: #d50303;
            }
        }

        span {
            color: rgb(0, 142, 167);
        }
    }

    section {
        margin: 20px;
    }
}

@media only screen and (max-width:500px){
    .Add-Faculty {
        width: 100%;
        padding: 5px;
        background-color: white;
    
        .Container {
            width: 100%;
            padding: 10px;
            .Btn-section {
                display: flex;
                width: 100%;
    
                button {
                    height: 30px;
                    width: 50%;
                    margin: 5px auto;
                    font-size: 12px;
                    font-weight: 600;
                    border: 1px solid white;
                }
    
    
            }
    

        }
        h2{
            font-size: 20px;
        }
        h4{
            font-size: 18px;
        }
        form{
            input{
                height: 30px;
                padding: 5px;
                font-size: 14px;
                margin: 10px 0;
                width: 100%;
            }
            label{
                font-size: 16px;
            }
        }

    
        .heading {
            font-size: 20px;
            font-weight: 600;
            margin: 5px;
            text-align: center;
    
    
    
        }
    
        h4 {
            margin: 10px 0;
            color: rgb(0, 157, 255);
        }
    
    
  
    
        input {
            &::-webkit-file-upload-button {
                height: 25px;
                font-size: 12px;
                border-radius: 2px;
                cursor: pointer;

            }
        }
    
        section {
            margin: 0px;
        }
    }
    
}