.Add-Events-Main-Div{
    width: 100%;
    padding: 20px;
    background-color: #fff;

    .container {
        width: 50%;
        padding: 20px;
        box-shadow: 1px 5px 2px 1px rgba(107, 106, 106, 0.833);
        form{
            label{
                display: block;
                font-size: 25px;
                font-weight: 600;
                
            }
            input{
                height: 40px;
                width: 100%;
                outline-color:cyan ;
                padding:10px 15px;
                font-size: 18px;
                border-radius: 0;
                border: 1px solid black;
            
            }
            select{
                height: 40px;
                width: 50%;
                border-radius: 0;
                outline-color:cyan ;
                slot{
                    border: 0;
                    border-radius: 0; 
                }
                option{
                    border: 0;
                    border-radius: 0;
                }

            }
            .section{
                display: flex;
                width: 100%;
                margin-top: 20px;
                button{
                    height: 40px;
                    border: 1px solid white;
                    font-size: 20px;
                    font-weight: 600;
                    width: 50%;
                    &:nth-child(1) {
                        background-color: #3EC70B;
                        color: white;
    
                        &:hover {
                            background-color: #2ba000;
                        }
    
                       
                    }
                    &:nth-child(2) {
                        background-color: rgb(255, 68, 0);
                        color: white;
    
                        &:hover {
                            background-color: rgb(255, 0, 0);
                        }
                    }
                }
            }
        }
    }
}