.download-div{
    display: flex;
    color:rgb(0, 162, 255) ;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-weight: 600;
    &:hover{
        color:rgb(0, 127, 200) ;
    }
}
.delete-div{
    display: flex;
    color:rgb(255, 0, 0) ;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-weight: 600;
    &:hover{
        color: rgb(203, 0, 0);
    }
}


.PPMainDiv {
    background-color: white;
    padding: 20px;
    width: 100%;
    // height: 100vh;

    .searchMainContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vh;
        // :hover {
        //     outline: auto;
        //     outline-color: rgb(0, 221, 255);
        //     outline-offset: 4px;
        // }
      


        .searchContainer {
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #f5f5f5;
            padding: 0 10px 0 10px;
          



            .FaSearch {
                background-color: #f5f5f5;
                cursor: pointer;
                border: 0;
                height: 100%;
                width: 80px;
                padding: 12px 30px 10px 30px;
                outline: none;

                #icon {
                    outline: none;
                }
            }

            .FaSearch:hover {
                background-color: #f0f0f0;
                cursor: pointer;
            }

            input {
                height: 80%;
                width: 400px;
                font-size: 16px;
                padding: 10px;
                border: 1px solid #f0f0f0;
                // margin-right: 10px;
                outline-color: rgb(0, 221, 255);

                &::-webkit-search-cancel-button {
                    cursor: pointer;

                }

            }
        }
    }



    .sortContainer {
        display: flex;
        background-color: #f5f5f5;
        height: 100%;
        outline: none;


        .all-btn {
            height: 100%;
            width: 70px;
            background-color: black;
            padding: 0;
            outline: none;


            &:hover {
                background-color: rgb(255, 255, 255);
                color: black;
                border: 2px solid black;
            }
        }

        button {
            outline: none;

            font-size: 18px;
            font-weight: 600;
            color: white;
            padding: 5px 30px 5px 30px;
            border-radius: 0;
            border: 1px solid white;
            cursor: pointer;
        }

        .nth-1 {
            background-color: #3EC70B;

            &:hover {
                background-color: #2ba000;
            }
        }

        .nth-2 {
            background-color: #FF0303;

            &:hover {
                background-color: #d50303;
            }
        }

        .nth-3 {
            background-color: #0f80d6;

            &:hover {
                background-color: #00589c;
            }
        }


    }


    .Table {
        width: 100%;
        height: fit-content;
        margin: 20px 0 0 0;

        

    }
    .mobile{
        display: none;
    }
}


@media only screen and (max-width: 950px) {
    .PPMainDiv {
        .searchMainContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: fit-content;
            margin: 0 0 30px 0;

            .sortContainer {
               
                height: 10vh;
                margin: 10px;
                outline: none;

            }



        }

        .Table {
            margin: 10px 0 10px 0;
            .auth{
                display: none;
            }
        }

        .mobile{
            display: none;
        }
    

    }

   
}



@media only screen and (max-width: 480px) {
    .PPMainDiv {
        height: 100vh;
        .searchMainContainer {
            display: none;
         




        }

        .Table {
            display: none;
        }

        .mobile{
            display: inline;
        }

    }
}