.headerConatiner{
    height: 114px;
    width: 100%;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(245, 245, 245, 0.43);
    padding: 0 80px;

    .logoDiv{
        height: 100%;
        img{
            height: 100%;
            width: 100%;
           
        }
    }

    .clubName{
        color: white;
        .H1{
            font-size: 50px;
            font-weight: 600;
            display: block;
            letter-spacing: 4px;
            .X{
                color:#087cef;
            }

        }
        .clgName{
            font-size: 25px;
        }


    }

}

@media only screen and (max-width: 950px) {

    .headerConatiner{
        padding: 0;
        .logoDiv{
            height: 100%;
            img{
                height: 90%;
                width:100%;
               
            }
        }
        .clubName{
            .H1{
                font-size: 30px;
                margin:10px 0 10px 0;
            }
            .clgName{
                font-size: 15px;
                

            }
        }
    }
    
}




@media only screen and (max-width: 480px) {

    .headerConatiner{
        height: 5.4rem;
        padding: 1rem;
        .logoDiv{
            height: 100%;
            img{
                height: 50px;
                width:100%;
                margin-top: .5rem;
               
            }
        }
        .clubName{
            .H1{
                font-size: 1.4rem;
                // margin:10px 0 0 0;
                letter-spacing: normal;
            }
            .clgName{
                font-size: 8px;
                display: none;
                

            }
        }
    }
    
}

