.GalleryMainDiv {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}

.GalleryHeading {
  font-size: larger;
  font-weight: 600;

}


.galleryWrap {
  height: max-content;

  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 30%;
  -moz-column-width: 30%;
  column-width: 30%;
  padding: 20px 12px;
  height: fit-content;
}

.galleryWrap .single {
  height: max-content;
  width: 100%;
  background-color: whitesmoke;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin: 12px;
  position: relative;
  &:hover {
    height: auto;
  }
}

.galleryWrap .single img {
  max-width: 90%;
  height: 90%;

 
}
.galleryWrap .single .delete {
  width: 60%;
  height: 30px;
  border: none;
  margin: 10px;
  background-color: orange;
  &:hover{
background-color: rgb(255, 55, 0);
  }
}

.galleryWrap .single img:hover {
  transform: scale(1.02);

}


.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

}
.sliderWrap .btnDelete,
.sliderWrap .btnClose,
.sliderWrap .btnPrev,
.sliderWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  color: #00d0ff;
  z-index: 9999;
}
.btnDelete:hover,
.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 10;
}

.sliderWrap .btnDelete {
  top: 40px;
  right: 40px;
  color: red;
}
.sliderWrap .btnClose {
  top: 40px;
  left: 40px;
  color: red;
}

.sliderWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}

.sliderWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.fullScreenImage {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  span {
    display: block;
    bottom: 0px;
    color: orangered;
    margin: 10px;
    height: fit-content;
  }

}


.fullScreenImage img {
  max-width: 100%;
  max-height: 80%;
  pointer-events: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}






@media (max-width:991px) {
  .galleryWrap {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;


  }
}

@media (max-width:500px) {
  .GalleryMainDiv {
    padding: 0 5px;
  }

  .galleryWrap {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    padding: 0px;

  }

  .galleryWrap .single {
    margin: 5px 0px;

  }
  .sliderWrap .btnClose{
    top: 200px;
  }
}

